/*------------------------------------*\
    GLOBAL - SITE WIDE
\*------------------------------------*/
body {
    @extend %raleway;
}

button {
    outline: none !important;
    @include effect(all, 250ms, ease-in-out);
}

input[type=submit] {
    @include effect(all, 250ms, ease-in-out);
}

.page_container {
	background: white;
	
    width: 100%;
    max-width: 1920px;
}

.page_container > .panel{
    max-width: 100%;
    background: $content_bg_color;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

@keyframes blinking {
    0% {
        background-color: $green;
    }
    100% {
        background-color: #000;
    }
}

.form-group {
    margin-bottom: 15px;

    label {
        display: inline-block;
        width: 100%;
        color: #1F1F1F;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 5px;

        .required {
            color: #f00;
        }
    }

    .form-control {
        width: 100%;
        border: none;
        background-color: #F0F0F0;
        font-size: 15px;
        font-weight: 400;
        padding: 13px 17px;

        &::placeholder {
            color: #AFAFAF;
        }
    }
}

.btn-group {
    text-align: center;
    margin-top: 20px;

    .btn {
        background-color: #000;
        color: #fff;
        border-radius: 50px;
        border: none;
        font-weight: 900;
        padding: 10px 36px;
        cursor: pointer;
        font-size: 19px;
    }
}