/*------------------------------------*\
	
    SLICK ARROWS
    
\*------------------------------------*/


button.slick-arrow {
	position: absolute;
	top: calc(50% - 21px);
	width: 34px;
	height: 34px;
	display: flex !important;
	align-items: center;
	justify-content: center;
	z-index: 1;
	font-size: 0;
	background-color: #009E61;
	border: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;

	&:after {
        @include pseudo;
        @include fa-icon;
        @extend .far;
        
        position: relative;

        font-size: 20px;

        vertical-align: 0;
        
		@include effect(all, 250ms, ease-in-out);
		
		color: #fff;
		font-weight: 800;
    }

	&::before {
		display: none !important;
	}
	
	&.slick-prev {
		left: -45px;
		
		&:after {
			content: fa-content($fa-var-chevron-left);
		}
	}
	
	&.slick-next {
		right: -45px;
		
		&:after {
			content: fa-content($fa-var-chevron-right);
		}
						
	}
	
	&:hover , &:focus {
		background-color: #009E61;
	}
}

.carousel-active{
	display: block !important;
}