.contact-wrap {
    padding-bottom: 20px;
    display: block !important;
    
    .content-wrap {
        display: flex;
        justify-content: space-between;
        padding: 0 40px 20px;

        @include mq('tablet', max) {
            flex-wrap: wrap;
            padding: 0 0 20px;
        }

        .details {
            width: 50%;

            @include mq('tablet', max) {
                width: 100%;
                order: 2;
                margin-top: 40px;
			}

            .contact {
                padding: 0;
                list-style: none;
                margin: 0;
                color: #000;
                font-weight: 500;
                font-size: 16px;

                li {
                    display: inline-flex;
                    width: 100%;
                    margin-bottom: 12px;
                    padding-bottom: 0;

                    @include mq('tablet', max) {
                        margin-left: 0;
                    }

                    .icon {
                        margin-right: 14px;
                        color: $green;
                        font-size: 20px;
                    }
                }
            }

            .social {
                padding: 0;
                margin: 15px 0 15px 24px;
                list-style: none;
                display: flex;

                @include mq('tablet', max) {
                    margin-left: 0;
                }

                li {
                    margin-right: 15px;
                    padding: 0;
                    margin-left: 0;

                    a {
                        color: #fff;
                        background-color: $green;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        font-size: 30px;

                        @include mq('1000', max) {
                            width: 50px;
                            height: 50px;
                            font-size: 24px;
                        }

                        @include mq('tablet', max) {
                            width: 50px;
                            height: 50px;
                            font-size: 24px;
                        }
                    }
                }
            }
        }

        .form {
            width: 45%;

            @include mq('tablet', max) {
                width: 100%;
                order: 1;
			}

            h2 {
                font-size: 26px;
            }

            form {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            .form-group {
                margin-bottom: 15px;

                label {
                    display: inline-block;
                    width: 100%;
                    color: #1F1F1F;
                    font-size: 15px;
                    font-weight: 400;
                    margin-bottom: 5px;

                    .required {
                        color: #f00;
                    }
                }

                .form-control {
                    width: 100%;
                    border: none;
                    background-color: #F0F0F0;
                    font-size: 15px;
                    font-weight: 400;
                    padding: 13px 17px;

                    &::placeholder {
                        color: #AFAFAF;
                    }
                }
            }

            .btn-group {
                text-align: center;
                margin-top: 20px;

                .btn {
                    background-color: #000;
                    color: #fff;
                    border-radius: 50px;
                    border: none;
                    font-weight: 900;
                    padding: 10px 36px;
                    cursor: pointer;
                    font-size: 19px;
                }
            }
        }
    }

    .map {
        display: none;

        @include mq('tablet', max) {
            display: block;
        }

        iframe {
            width: 100%;
        }
    }
}