.home-content {
    height: 100%;

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        @include mq('1000', max) {
            flex-wrap: wrap;
            justify-content: center;
        }

        .image {
            max-width: 679px;
            width: 100%;
        }

        .content {
            flex: 1;
            font-weight: 500;
            font-size: 18px;
            color: #000;

            h1 {
                color: #494949;
                font-weight: 700;
                font-size: 40px;
                text-transform: uppercase;

                @include mq('tablet', max) {
                    font-size: 30px;
                }

                span {
                    color: #009E61;
                }
            }
        }
    }
}