/*------------------------------------*\
	
    SETTINGS - COLORS - THEME - DC
    
\*------------------------------------*/


//BLACK AND WHITE
$black: #1a1a1a;
$white: #FFFFFF;

//Greys
$grey: #7f7f7f;

$greylight: #f0f3f3;

$blue: #00263E; //rapid
$blue_light: #00a9ce; //rapid

$green: #009e61; //rapid
$green_light: #84BD00; //rapid

$orange: #ff8200; //rapid
$orange_dark: #be531c; //rapid

$red: #c8102e; //rapid

$yellow: #ffb81c; //rapid

//Theme
$theme_color: $blue;
$theme_color2: $blue;
$body_color: $black;

$body_bg_color: $white;
$content_bg_color: $white;