/*------------------------------------*\
	
    SETTINGS - DEFAULT WIDTHS
    
\*------------------------------------*/


// BODY WIDTH

$body-width: 	1920px;



// SECTION WIDTH

$max-width:			1760px;
$max-width-1430:	1430px;
$max-width-wide: 	1920px;
$max-width-thin: 	1220px;



// PADDINGS

$default_padding: 			30px;
$default_padding_mobile: 	15px;