/*------------------------------------*\
	
    SETTINGS - DEFAULT WIDTHS
    
\*------------------------------------*/


// BODY WIDTH

$body-width: 	1400px;



// SECTION WIDTH

$max-width:			1400px;
$max-width-1430:	1400px;
$max-width-wide: 	1400px;
$max-width-thin: 	1220px;



// PADDINGS

$default_padding: 			30px;
$default_padding_mobile: 	15px;