header {
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    
    nav {

        @include dc_max_width($default_padding, $default_padding);

        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 10px 2rem;
        align-items: center;

        @include mq('tablet-wide', max) {
            padding: 10px 10px;
        }

        .logo {
            display: flex;
            position: relative;

            .text {
                font-weight: 700;
                font-size: 13px;
                color: #000;
                margin-top: 28px;

                @include mq('tablet-wide', max) {
                    margin-top: 17px;
                }

                @include mq('phone', max) {
                    font-size: 12px;
                }

                p {
                    margin: 0;

                    &.first {
                        font-size: 16px;

                        @include mq('phone', max) {
                            font-size: 12px;
                        }
                    }

                    span {
                        color: $green;
                    }
                }
            }

            .img {
                @include mq('tablet-wide', max) {
                    width: 85px;
                }
            }

            a {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
            }
        }

        .navigation {
            display: flex;
            margin: -60px 0 0;
            padding: 0 0;
            list-style: none;

            @include mq('tablet-wide', max) {
                display: none;
            }

            li {
                padding: 0;

                &.has-submenu {
                    .icon {
                        position: absolute;
                        right: 0;
                        top: 10px;

                        color: $green;

                        @include mq('tablet-wide', max) {
                            right: 0;
                            top: 0;
                            cursor: pointer;
                            width: 44px;
                            height: 44px;
                            z-index: 100;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        &::before {
                            @include pseudo;
                            @include fa-icon;
                            @extend .far;

                            content: fa-content($fa-var-chevron-down);
                        }
                    }
                }

                a {
                    color: #000000;
                    font-weight: 700;
                    font-size: 15px;
                    text-transform: uppercase;
                    display: inline-block;
                    padding: 10px 15px;
                    text-decoration: none;

                    &:hover {
                        color: $green;
                    }

                    &.link_btn {
                        background-color: $green;
                        border-radius: 50px;
                        padding: 10px 30px;
                        color: #fff;
                        transition: 0.5s all ease;
                        -webkit-transition: 0.5s all ease;
                        -moz-transition: 0.5s all ease;
                        -ms-transition: 0.5s all ease;
                        -o-transition: 0.5s all ease;

                        &:hover{
                            background-color: #000;
                        }
                    }
                }

                .sub-menu {
                    padding: 5px;
                    margin: 0;
                    list-style: none;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    z-index: 10;
                    width: 220px;
                    background-color: #fff;

                    display: none;

                    @include mq('tablet-wide', max) {
                        width: 100%;
                        position: relative;
                        background-color: #f6f6f6;
                    }

                    li {
                        margin: 0;

                        a {
                            font-size: 13px;
                            padding: 7px 12px;
                        }
                    }
                }

                &:hover {
                    .sub-menu {
                        display: block;
                    }
                }

                @include mq('tablet-wide', max) {
                    &:hover {
                        .sub-menu {
                            display: none;
                        }
                    }

                    &.open-submenu {
                        .sub-menu {
                            display: block !important;
                        }
                    }
                }
            }
        }

        .navigationToggler {
            display: none;

            @include mq('tablet-wide', max) {
                display: flex;
                background-color: transparent;
                color: $green;
                cursor: pointer;
                padding: 7px 13px;
                border-radius: 5px;
                width: 40px;
                height: 33px;
                align-items: center;
                justify-content: center;

                border: 1px solid $green;

                font-size: 20px;
            
                .fa-times {
                    display: none;
                }
            }
        }

        &.open-menu {
            flex-wrap: wrap;

            .navigationToggler {

                .fa-times {
                    display: block;
                }

                .fa-bars {
                    display: none;
                }
            }

            .navigation {
                width: 100%;
                display: block;
                position: absolute;
                left: 0;
                top: 100px;
                text-align: center;
                background-color: #fff;
                z-index: 10;
                margin: 0;
                padding-bottom: 10px;

                li {
                    margin: 0;
                }
            }
        }
    }
}