/*------------------------------------*\

ARTICLE SECTION 

\*------------------------------------*/


// SETTINGS
$section_spacing: 130px;
$section_spacing_mob: 70px;

.page-container {
	height: calc(100vh - (163px + 73px));
	overflow: auto;

	@include mq('1000', max) {
		height: 70vh;
	}

	@include mq('phablet', max) {
		height: calc(100vh - (163px + 73px));
	}

	&.white-label-container , 
	&.service-container , 
	&.contact-container ,
	&.client-container , 
	&.services-container {
		@include mq('1000', max) {
			height: auto;
			padding: 2rem 0;
		}

		.inner {
			position: relative;

			button.page-arrow {
				position: absolute;
				top: calc(50% - 21px);
				width: 34px;
				height: 34px;
				display: flex !important;
				align-items: center;
				justify-content: center;
				z-index: 1;
				font-size: 0;
				background-color: $green;
				border: 0;
				border-radius: 5px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				-ms-border-radius: 5px;
				-o-border-radius: 5px;
			
				@include mq('1000', max) {
					top: 50%;
				}
			
				&:after {
					@include pseudo;
					@include fa-icon;
					@extend .far;
					
					position: relative;
			
					font-size: 20px;
			
					vertical-align: 0;
					
					@include effect(all, 250ms, ease-in-out);
					
					color: #fff;
					font-weight: 800;
				}
			
				&::before {
					display: none !important;
				}
				
				&.page-prev {
					left: 15px;
			
					@include mq('1000', max) {
						left: 10px;
					}
					
					&:after {
						content: fa-content($fa-var-chevron-left);
					}
				}
				
				&.page-next {
					right: 15px;
			
					@include mq('1000', max) {
						right: 10px;
					}
					
					&:after {
						content: fa-content($fa-var-chevron-right);
					}
									
				}
				
				&:hover , &:focus {
					background-color: $green;
				}
			}
		}
	}
}


.section {
	&.home-content , 
	&.clients-content , 
	&.services-content , 
	&.service-single , 
	&.contact-wrap , 
	&.blog-section {

		// DEFAULT SECTION STYLES + WIDTHS
		position: relative;

		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;

		display: flex;
		align-items: center;

		>.inner {
			@include dc_max_width($default_padding, $default_padding);

			z-index: 1;

			@include mq('tablet', max) {
				@include dc_max_width($default_padding_mobile, $default_padding_mobile);
			}

			@include mq('1200', min) {
				padding-left: 60px;
				padding-right: 60px;
			}
		}


		// FULL WIDTH
		&.fullwidth {

			>.inner {
				max-width: 1920px;
			}
		}


		@include mq('tablet', min) {
		}

		@include mq('950', min) {
		}
	}
}


// SECTION INTRO
.section {

	&:not(.title-side) {

		>.inner {

			>.section_intro {
				position: relative;
				width: 100%;
				max-width: 1100px;
				margin: 0 auto 50px;

				text-align: center;

				@include mq('tablet', min) {
					margin-bottom: 70px;
				}

				.description {

					p {

						&:last-child {
							margin: 0;
						}
					}
				}
			}
		}
	}
}


// SECTION BACKGROUNDS
.section {

	&.bg_white {
		background: $white;
	}

	&.bg_grey {
		background: $greylight;
	}

	&.bg_blue {
		background: $theme_color2;
	}
}


// SECTION BUTTON
.section {

	>.inner {

		>.button-wrapper {
			text-align: center;

			margin-top: 50px;

			@include mq('tablet', min) {
				margin-top: 110px;
			}

			@include mq('tablet', max) {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			a {

				&:nth-child(2) {
					margin-left: 16px;

					@include mq('tablet', max) {
						margin: 20px 0 0 0;
					}
				}
			}
		}
	}
}