/*------------------------------------*\

ARTICLE SECTION 

\*------------------------------------*/


// SETTINGS
$section_spacing: 130px;
$section_spacing_mob: 70px;

.page-container {
	height: calc(100vh - (163px + 73px));
	overflow: auto;
}


.section {
	&.home-content , 
	&.clients-content , 
	&.services-content , 
	&.service-single , 
	&.contact-wrap {


		// DEFAULT SECTION STYLES + WIDTHS
		position: relative;

		background-size: cover;
		background-repeat: no-repeat;

		>.inner {
			@include dc_max_width($default_padding, $default_padding);

			z-index: 1;

			@include mq('tablet', max) {
				@include dc_max_width($default_padding_mobile, $default_padding_mobile);
			}

			@include mq('1200', min) {
				padding-left: 60px;
				padding-right: 60px;
			}
		}


		// FULL WIDTH
		&.fullwidth {

			>.inner {
				max-width: 1920px;
			}
		}


		@include mq('tablet', min) {
		}

		@include mq('950', min) {
		}
	}
}


// SECTION INTRO
.section {

	&:not(.title-side) {

		>.inner {

			>.section_intro {
				position: relative;
				width: 100%;
				max-width: 1100px;
				margin: 0 auto 50px;

				text-align: center;

				@include mq('tablet', min) {
					margin-bottom: 70px;
				}

				.description {

					p {

						&:last-child {
							margin: 0;
						}
					}
				}
			}
		}
	}
}


// SECTION BACKGROUNDS
.section {

	&.bg_white {
		background: $white;
	}

	&.bg_grey {
		background: $greylight;
	}

	&.bg_blue {
		background: $theme_color2;
	}
}


// SECTION BUTTON
.section {

	>.inner {

		>.button-wrapper {
			text-align: center;

			margin-top: 50px;

			@include mq('tablet', min) {
				margin-top: 110px;
			}

			@include mq('tablet', max) {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			a {

				&:nth-child(2) {
					margin-left: 16px;

					@include mq('tablet', max) {
						margin: 20px 0 0 0;
					}
				}
			}
		}
	}
}